@charset "UTF-8";
* { margin: 0; padding: 0; }

html, body { height: 100%; width: 100%; font-family: 微软雅黑; font-size: 14px; height: auto; background: #fff; }

a { color: #424242; text-decoration: none; text-decoration: none; }

ul, li { list-style-type: none; }

img { border: none; }

p { -webkit-margin-before: 0; -webkit-margin-after: 0; }

.l { float: left; }

.r { float: right; }

.page-main { width: 100%; position: absolute; height: 100%; background-position: center; overflow: hidden; background-size: cover; }

.main { width: 900px; height: 600px; position: absolute; top: 50%; left: 50%; margin: -300px 0 0 -450px; overflow: hidden; }

.left-cont { width: 488px; float: left; height: 100%; overflow: hidden; }

.list1 { width: 100%; height: auto; overflow: hidden; }

.list1 li { float: left; width: 240px; height: 50px; margin-right: 8px; margin-bottom: 10px; background-color: #252525; border-radius: 30px; text-align: center; line-height: 50px; font-size: 24px; color: #acacac; }

.list1 span { margin-left: 10px; }

.fg-box { width: 460px; height: 440px; background-color: #252525; border-radius: 10px; padding: 20px 14px; }

.fg-box dl { height: 100%; overflow: hidden; position: relative; }

.fg-box dl dd { overflow: hidden; position: relative; height: 115px; width: 100%; }

.fg-box img { float: left; width: 60px; height: 60px; border-radius: 50%; border: solid 2px #ffb700; overflow: hidden; }

.fg-box .cont { float: left; margin-left: 9px; width: 387px; padding-top: 5px; }

.fg-box .name { width: 100%; height: auto; color: #fff; font-size: 28px; }

.fg-box span { font-size: 20px; color: #b2b2b2; }

.fg-box .text { color: #f4b01d; font-size: 28px; padding-top: 5px; line-height: 35px; }

.right-cont { width: 404px; float: right; height: 100%; overflow: hidden; }

.right-cont .tip { width: 100%; height: 110px; background-color: #252525; border-radius: 10px; position: relative; overflow: hidden; }

.right-cont .title { color: #acacac; font-size: 20px; text-indent: 30px; line-height: 35px; }

.right-cont .line { height: 62px; padding-left: 30px; padding-right: 20px; line-height: 32px; overflow: hidden; }

.right-cont .line li { color: #f4b01d; font-size: 22px; position: relative; height: 62px; }

.right-cont .line li i { position: absolute; width: 6px; height: 6px; border-radius: 50%; background-color: #f4b01d; top: 15px; left: -15px; display: inline-block; }

.right-cont .get-tip { position: absolute; bottom: -62px; width: 100%; height: 62px; background-color: #252525; transition: all .6s; -webkit-transition: all .6s; -moz-transition: all .6s; -ms-transition: all .6s; -o-transition: all .6s; }

.right-cont .get-tip .img { float: left; width: 54px; height: 54px; border-radius: 50%; border: solid 2px #ffb700; margin-left: 30px; margin-top: 4px; }

.right-cont .get-tip p { float: left; line-height: 62px; color: #fff; margin-left: 15px; font-size: 26px; }

.right-cont .get-tip i { display: inline-block; float: left; margin-top: 15px; width: 32px; height: 34px; background-image: url(../images/bless.png?v=ef9c9); background-position: -85px -51px; margin-left: 7px; }

.right-cont .get-tip .sum { color: #f4b01d; margin-left: 8px; }

.right-cont .get-tip .name, .right-cont .get-tip .sum { float: left; }

.right-cont .get-tip.act { bottom: 13px; }

.rank { width: 100%; height: 135px; background-color: #252525; border-radius: 10px; margin-top: 10px; text-align: center; }

.rank .head { color: #f4b01d; font-size: 20px; line-height: 45px; }

.rank ul { padding: 0 30px; padding-top: 5px; }

.rank li { width: 100%; position: relative; height: 35px; }

.rank span { display: inline-block; line-height: 35px; color: #fff; font-size: 20px; float: left; margin-left: 10px; }

.rank img { width: 30px; height: 30px; border-radius: 50%; border: solid 1px #ffb700; display: inline-block; float: left; margin-left: 95px; }

.rank i { position: absolute; left: 0; display: inline-block; top: 5px; background-image: url(../images/bless.png?v=ef9c9); width: 29px; height: 24px; }

.rank .first { background-position: -117px 0; width: 34px; height: 28px; }

.rank .second { background-position: 0 -24px; left: 3px; }

.rank li p { position: absolute; right: 0; line-height: 35px; color: #f4b01d; font-size: 16px; top: 0; background-image: url(../images/m-bless7.png?v=6c5a7); background-position: left center; background-repeat: no-repeat; text-indent: 35px; }

.img-cont { width: 100%; position: relative; height: 338px; margin-top: 7px; }

.img-cont img { width: 100%; max-height: 243px; border-radius: 7px; }

.img-cont .name { position: absolute; bottom: 0; left: 0; width: 100%; height: 85px; background-color: #252525; border-radius: 10px; }

.img-cont .name span { float: left; line-height: 85px; color: #f4f4f4; font-weight: bold; font-size: 28px; margin: 0 6px; }

.img-cont .name i { display: inline-block; background-image: url(../images/bless.png?v=ef9c9); float: left; margin-top: 23px; }

.img-cont .men { background-position: -29px 0; width: 36px; height: 36px; margin-left: 20px; }

.img-cont .women { background-position: -29px -36px; width: 26px; height: 39px; }

.img-cont .get-cont { position: absolute; top: 00; left: 0; width: 100%; height: 71px; background-image: url(../images/bless-bg.png?v=250f3); }

.img-cont .flower { display: inline-block; float: left; width: 81px; height: 59px; background-image: url(../images/flower.png?v=3c412); margin-left: 19px; margin-top: 7px; }

.img-cont .get-cont span { float: left; font-size: 24px; color: #fff; margin-left: 15px; padding-top: 10px; }

.img-cont .icon { display: inline-block; float: left; width: 32px; height: 34px; background-image: url(../images/bless.png?v=ef9c9); background-position: -85px -51px; margin-left: 19px; margin-top: 10px; }

.img-cont .praises { position: absolute; bottom: 17px; right: 17px; width: 51px; height: 51px; background-image: url(../images/bless.png?v=ef9c9); background-position: -66px 0; }

.img-cont .praises-cont { position: absolute; bottom: 68px; width: 100px; height: 215px; overflow: hidden; right: 6px; }

.img-cont .praises-cont div { position: absolute; background-image: url(../images/bless-icon.png?v=98b11); bottom: -39px; }

.img-cont .praises-cont .icon1 { width: 40px; height: 35px; }

.img-cont .praises-cont .icon2 { width: 37px; height: 32px; background-position: -41px 0; }

.img-cont .praises-cont .icon3 { width: 38px; height: 33px; background-position: 0 -35px; }

.img-cont .praises-cont .icon4 { width: 34px; height: 32px; background-position: -37px -35px; }

.img-cont .praises-cont .icon5 { width: 43px; height: 39px; background-position: 0 -70px; }

.img-cont .praises-cont .icon6 { width: 38px; height: 38px; background-position: -44px -71px; }

.img-cont .praises-cont .icon7 { width: 44px; height: 37px; background-position: 0 -110px; }

.img-cont .praises-cont .icon8 { width: 37px; height: 32px; background-position: -45px -108px; }

.img-cont .praises-cont .icon9 { width: 38px; height: 39px; background-position: 0 -147px; }

.img-cont .praises-cont .left1 { left: 50px; }

.img-cont .praises-cont .left2 { left: 44px; }

.slider { position: relative; height: 243px; width: 100%; overflow: hidden; border-radius: 7px; }

.slider .slider-inner { width: 100%; height: 100%; position: relative; }

.slider .slider-inner .item { width: 100%; height: 100%; float: left; }

.slider .slider-inner .img { width: 100%; height: 100%; }

.page-get { position: fixed; text-align: center; padding: 0 70px; background-color: #fff; line-height: 30px; color: #3f3f3f; font-size: 20px; border-radius: 50px; top: -70px; z-index: 50; left: 420px; /*animation: myfirst2 5s linear ; -moz-animation: myfirst2 5s linear ; -ms-animation: myfirst2 5s linear ;	 -webkit-animation: myfirst2 5s linear ;	 -o-animation: myfirst2 5s linear ;*/ }

.page-get span { line-height: 35px; color: #d81b18; font-size: 22px; font-weight: bold; }

.page-get img { position: absolute; left: 0; top: 0; width: 60px; height: 60px; border-radius: 50%; border: solid 3px #f4b01d; }

.page-get .flowers { position: absolute; width: 101px; height: 94px; display: inline-block; right: -40px; background-image: url(../images/flowers.png?v=c90aa); top: -20px; }

.page-get .cuont { position: absolute; left: 110px; top: 20px; display: inline-block; width: 52px; height: 52px; background-image: url(../images/count.png?v=6b358); }

@keyframes myfirst { 0% { bottom: -39px;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  25% { bottom: 50px;
    opacity: 0.9;
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0); }
  50% { bottom: 100px;
    opacity: 0.8;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  75% { bottom: 150px;
    opacity: 0.7;
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }
  100% { bottom: 200px;
    opacity: 0.6;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@-ms-keyframes myfirst { 0% { bottom: -39px; opacity: 1; -ms-transform: translate3d(0, 0, 0); }
  25% { bottom: 50px; opacity: 0.9; -ms-transform: translate3d(10px, 0, 0); }
  50% { bottom: 100px; opacity: 0.8; -ms-transform: translate3d(0, 0, 0); }
  75% { bottom: 150px; opacity: 0.7; -ms-transform: translate3d(-10px, 0, 0); }
  100% { bottom: 200px; opacity: 0.6; -ms-transform: translate3d(0, 0, 0); } }

@-webkit-keyframes myfirst { 0% { bottom: -39px;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0); }
  25% { bottom: 50px;
    opacity: 0.9;
    -webkit-transform: translate3d(10px, 0, 0); }
  50% { bottom: 100px;
    opacity: 0.8;
    -webkit-transform: translate3d(0, 0, 0); }
  75% { bottom: 150px;
    opacity: 0.7;
    -webkit-transform: translate3d(-10px, 0, 0); }
  100% { bottom: 200px;
    opacity: 0.6;
    -webkit-transform: translate3d(0, 0, 0); } }

@keyframes myfirst1 { 0% { bottom: -39px;
    opacity: 1; }
  25% { bottom: 50px;
    opacity: 0.9; }
  50% { bottom: 100px;
    opacity: 0.8; }
  75% { bottom: 150px;
    opacity: 0.7; }
  100% { bottom: 200px;
    opacity: 0.6; } }

@-ms-keyframes myfirst1 { 0% { bottom: -39px; opacity: 1; }
  25% { bottom: 50px; opacity: 0.9; }
  50% { bottom: 100px; opacity: 0.8; }
  75% { bottom: 150px; opacity: 0.7; }
  100% { bottom: 200px; opacity: 0.6; } }

@-webkit-keyframes myfirst1 { 0% { bottom: -39px;
    opacity: 1; }
  25% { bottom: 50px;
    opacity: 0.9; }
  50% { bottom: 100px;
    opacity: 0.8; }
  75% { bottom: 150px;
    opacity: 0.7; }
  100% { bottom: 200px;
    opacity: 0.6; } }

.myfirst { animation: myfirst 2s linear infinite; -moz-animation: myfirst 2s linear infinite; -ms-animation: myfirst 2s linear infinite; -webkit-animation: myfirst 2s linear infinite; -o-animation: myfirst 2s linear infinite; }

.myfirst1 { animation: myfirst1 2s linear 0.2s infinite; -moz-animation: myfirst1 2s linear 0.2s infinite; -ms-animation: myfirst1 2s linear 0.2s infinite; -webkit-animation: myfirst1 2s linear 0.2s infinite; -o-animation: myfirst1 2s linear 0.2s infinite; }

.myfirst2 { animation: myfirst 2s linear 0.4s infinite; -moz-animation: myfirst 2s linear 0.4s infinite; -ms-animation: myfirst 2s linear 0.4s infinite; -webkit-animation: myfirst 2s linear 0.4s infinite; -o-animation: myfirst 2s linear 0.4s infinite; }

.myfirst3 { animation: myfirst1 2s linear 0.8s infinite; -moz-animation: myfirst1 2s linear 0.8s infinite; -ms-animation: myfirst1 2s linear 0.8s infinite; -webkit-animation: myfirst1 2s linear 0.8s infinite; -o-animation: myfirst1 2s linear 0.8s infinite; }

.myfirst4 { animation: myfirst 2s linear 1s infinite; -moz-animation: myfirst 2s linear 1s infinite; -ms-animation: myfirst 2s linear 1s infinite; -webkit-animation: myfirst 2s linear 1s infinite; -o-animation: myfirst 2s linear 1s infinite; }

.myfirst5 { animation: myfirst1 2s linear 1.2s infinite; -moz-animation: myfirst1 2s linear 1.2s infinite; -ms-animation: myfirst1 2s linear 1.2s infinite; -webkit-animation: myfirst1 2s linear 1.2s infinite; -o-animation: myfirst1 2s linear 1.2s infinite; }

.myfirst6 { animation: myfirst 2s linear 1.4s infinite; -moz-animation: myfirst 2s linear 1.4s infinite; -ms-animation: myfirst 2s linear 1.4s infinite; -webkit-animation: myfirst 2s linear 1.4s infinite; -o-animation: myfirst 2s linear 1.4s infinite; }

.myfirst7 { animation: myfirst1 2s linear 1.6s infinite; -moz-animation: myfirst1 2s linear 1.6s infinite; -ms-animation: myfirst1 2s linear 1.6s infinite; -webkit-animation: myfirst1 2s linear 1.6s infinite; -o-animation: myfirst1 2s linear 1.6s infinite; }

.myfirst8 { animation: myfirst 2s linear 1.8s infinite; -moz-animation: myfirst 2s linear 1.8s infinite; -ms-animation: myfirst 2s linear 1.8s infinite; -webkit-animation: myfirst 2s linear 1.8s infinite; -o-animation: myfirst 2s linear 1.8s infinite; }

@keyframes myfirst2 { 0% { top: -65px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  25% { top: 25%;
    -webkit-transform: translate3d(40px, 0, 0);
    transform: translate3d(40px, 0, 0); }
  50% { top: 50%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  75% { top: 75%;
    -webkit-transform: translate3d(-40px, 0, 0);
    transform: translate3d(-40px, 0, 0); }
  100% { top: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@-ms-keyframes myfirst2 { 0% { top: -65px; -ms-transform: translate3d(0, 0, 0); }
  25% { top: 25%; -ms-transform: translate3d(40px, 0, 0); }
  50% { top: 50%; -ms-transform: translate3d(0, 0, 0); }
  75% { top: 75%; -ms-transform: translate3d(-40px, 0, 0); }
  100% { top: 100%; -ms-transform: translate3d(0, 0, 0); } }

@-webkit-keyframes myfirst2 { 0% { top: -65px;
    -webkit-transform: translate3d(0, 0, 0); }
  25% { top: 25%;
    -webkit-transform: translate3d(40px, 0, 0); }
  50% { top: 50%;
    -webkit-transform: translate3d(0, 0, 0); }
  75% { top: 75%;
    -webkit-transform: translate3d(-40px, 0, 0); }
  100% { top: 100%;
    -webkit-transform: translate3d(0, 0, 0); } }
