*uploads*
*development*
*production*
*DS_Store*
*Test*
*test*
Runtime
Admin/Conf/config.php
Admin/Conf/debug.php
Home/Conf/debug.php
hotel.offset
front-end
.project
.buildpath
.settings/*
applications/app/application/cache/*
Uploads/*
*logs*
