html { font-size: 50px; }

body { font-size: 24px; }

@media screen and (min-width: 320px) { html { font-size: 21.33px; }
  body { font-size: 12px; } }

@media screen and (min-width: 360px) { html { font-size: 24px; }
  body { font-size: 12px; } }

@media screen and (min-width: 375px) { html { font-size: 25px; }
  body { font-size: 12px; } }

@media screen and (min-width: 384px) { html { font-size: 25.6px; }
  body { font-size: 14px; } }

@media screen and (min-width: 400px) { html { font-size: 26.67px; }
  body { font-size: 14px; } }

@media screen and (min-width: 414px) { html { font-size: 27.6px; }
  body { font-size: 14px; } }

@media screen and (min-width: 424px) { html { font-size: 28.27px; }
  body { font-size: 14px; } }

@media screen and (min-width: 480px) { html { font-size: 32px; }
  body { font-size: 15.36px; } }

@media screen and (min-width: 540px) { html { font-size: 36px; }
  body { font-size: 17.28px; } }

@media screen and (min-width: 720px) { html { font-size: 48px; }
  body { font-size: 23.04px; } }

@media screen and (min-width: 750px) { html { font-size: 50px; }
  body { font-size: 24px; } }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, section, article, aside, header, footer, nav, dialog, figure, hgroup { margin: 0; padding: 0; }

input, select, textarea { font-size: 100%; }

table { border-collapse: collapse; border-spacing: 0; }

fieldset, img { border: 0; }

caption, th { text-align: left; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 500; }

ul, ol, li { list-style: none; }

em, i { font-style: normal; }

a, img { -webkit-tap-highlight-color: transparent; }

.footer { z-index: 100; }

/*banquet*/
.name { width: 100%; height: 1.42rem; position: relative; margin-top: 0.7rem; margin-bottom: 0.5rem; background-image: url(../images/banquet.png?v=ffec9); background-size: 1.42rem 1.42rem; background-repeat: no-repeat; background-position: center; }

.l-text { right: 8.7rem; }

.r-text { left: 8.7rem; }

.banquet-list { width: 100%; height: auto; text-align: center; padding-bottom: 1rem; }

.banquet-list li { width: 100%; padding-bottom: 2rem; }

.banquet-list img { width: 100%; }

.banquet-list .name { margin-top: 0.4rem; margin-bottom: 0.6rem; }

.banquet-list span { color: #fff; display: inline-block; padding: 0.2rem 0.2rem; border-radius: 0.12rem; margin: 0 0.2rem; }

.banquet-list .icon1 { background-color: #c577fc; }

.banquet-list .icon2 { background-color: #5cc318; }

.banquet-list .icon3 { background-color: #ff5f40; }

.banquet-list .text { color: #656565; margin-top: 0.4rem; font-size: 0.64rem; }

.banquet-list .date { font-size: 1.32rem; font-family: 'helvetica'; color: #ffb700; line-height: 2rem; }

.banquet-list .icon { font-size: 0.64rem; display: inline-block; color: #fff; padding: 0 0.5rem; text-shadow: 1px 1px 1px #aaa; height: 1.2rem; background-image: url(../images/m-but.png?v=2a8ed); background-size: 100% 1.2rem; line-height: 1.2rem; }

.banquet-list .send-text { font-size: 0.64rem; font-weight: bold; color: #eb0028; position: absolute; top: 2.4rem; width: 100%; text-align: center; }

.banquet-list .but { display: block; width: 4.76rem; height: 2rem; margin: 0 auto; position: relative; margin-top: 0.4rem; background-image: url(../images/m-bless.png?v=1d6a4); background-size: 4.76rem 2rem; }

.banquet-list .but i { position: absolute; top: 0.6rem; left: 1.54rem; display: inline-block; width: 1.34rem; height: 1.2rem; background-image: url(../images/m-bless1.png?v=54986); background-size: 1.34rem 1.2rem; }

.top-bg { width: 100%; height: 0.94rem; background-image: url(../images/list-bg1.png?v=7ade2); background-size: 100% 0.94rem; }

/*banquet-detail*/
.banqute-detail { text-align: center; margin-bottom: 6.6rem; width: 100%; }

.banqute-detail .title { color: #ffc12d; font-size: 0.8rem; margin-bottom: 0.6rem; line-height: 1.42rem; }

.banqute-detail img { width: 100%; margin-top: 0.2rem; }

.banqute-detail .adres { font-size: 0.68rem; color: #2a2a2a; margin-top: 0.7rem; font-weight: bold; }

.banqute-detail .text { color: #656565; margin-top: 0.5rem; font-size: 0.64rem; }

.banqute-detail .text span { color: #4b4b4b; font-size: 0.68rem; font-weight: bold; }

.banqute-detail .text p { display: inline-block; color: #656565; font-size: 0.64rem; position: relative; }

.banqute-detail .text i { display: inline-block;width: 1.6rem; height: 1.68rem; background-image: url(../images/m-adres.png?v=a7451); background-size: 1.6rem 1.68rem; }

.banqute-detail .text:last-child { margin-bottom: 0.2rem; }

.banqute-detail .icon { height: 1.2rem; width: 8.4rem; margin: 0 auto; font-size: 0.64rem; text-shadow: 1px 1px 1px #aaa; line-height: 1.2rem; color: #fff; margin-top: 0.6rem; background-image: url(../images/m-but.png?v=2a8ed); background-size: 8.4rem 1.2rem; }

.banqute-detail .dishes { font-size: 0.6rem; color: #565656; padding: 0.5rem 0; margin-bottom: 0.6rem; }

.banqute-detail .top-bg { margin-top: 1.1rem; }

.name span { font-size: 0.8rem; color: #ffc12d; font-weight: bold; line-height: 1.42rem; position: absolute; }

.set-meal { width: 100%; padding: 0 0.4rem; height: auto; }

.set-meal img { width: 100%; }

.devote-list { width: 13.4rem; margin: 0 auto; padding: 0.1rem 1.2rem; height: auto; background-color: #eff0f3; border-radius: 0.4rem; }

.devote-list li { height: 1.4rem; width: 100%; color: #5a5a5a; line-height: 1.4rem; text-align: center; position: relative; font-size: 0.52rem; }

.devote-list p { position: absolute; right: 0; line-height: 1.4rem; top: 0; color: #5a5a5a; font-size: 0.52rem; }

.devote-list i { position: absolute; left: 0; height: 100%; background-position: left center; background-repeat: no-repeat; }

.devote-list li:first-child i { background-image: url(../images/m-ban1.png?v=1aedc); background-size: 0.86rem 0.78rem; width: 0.86rem; }

.devote-list li:nth-child(2) i { background-image: url(../images/m-bless2.png?v=c7997); background-size: 0.9rem 0.9rem; width: 0.9rem; }

.devote-list li:nth-child(3) i { background-image: url(../images/m-ban3.png?v=d4848); background-size: 0.86rem 0.98rem; width: 0.86rem; }

.rank-list { width: 13.4rem; margin: 0 auto; height: auto; }

.rank-list li { position: relative; width: 100%; margin-bottom: 0.1rem; padding: 0.1rem 0; background-color: #eff0f3; border-radius: 0.16rem; height: auto; overflow: hidden;min-height:1.72rem; }

.rank-list .tip { position: absolute; left: 0.3rem; top: 50%; margin-top: -0.86rem; width: 1.36rem; text-align: center; height: 1.72rem; line-height: 1.72rem; color: #72706c; font-size: 0.56rem; background-position: center; background-repeat: no-repeat; }

.rank-list li:first-child .tip { background-image: url(../images/m-ban4.png?v=26c22); background-size: 1.36rem 1.52rem; }

.rank-list li:nth-child(2) .tip { background-image: url(../images/m-ban5.png?v=59f8e); background-size: 1rem 0.66rem; }

.rank-list li:nth-child(3) .tip { background-image: url(../images/m-ban6.png?v=ea7ad); background-size: 0.76rem 0.5rem; }

.rank-list img { position: absolute; left: 2.1rem; top: 50%; margin-top: -0.86rem; width: 1.72rem; height: 1.72rem; border: solid 0.06rem #ffb700; border-radius: 50%; }

.rank-list .list-name { padding-left: 4.2rem; text-align: left; line-height: 1.72rem; color: #5a5a5a; font-size: 0.52rem; width: 10.2rem; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.rank-list .count { position: absolute; left: 10.3rem; top: 50%; margin-top: -0.86rem; text-indent: 1rem; line-height: 1.72rem; color: #5a5a5a; font-size: 0.52rem; background-image: url(../images/m-bless2.png?v=c7997); background-size: 0.9rem 0.9rem; background-position: left center; background-repeat: no-repeat; }

.rank1 li { padding: 0.6rem 0; }

.rank1 .cont { padding-left: 4.2rem; width: 10.9rem; height: auto; overflow: hidden; text-align: left; font-size: 0.52rem; min-height: 1.72rem; }

.rank1 .list-title { color: #5a5a5a; margin-top: 0.3rem; }

.rank1 .list-text { color: #232323; line-height: 0.8rem; margin-top: 0.2rem; }

.rank1 .count { cursor: pointer; left: 11.2rem; background-image: url(../images/m-ban7.png?v=052b9); background-size: 0.94rem 0.94rem; text-indent: 1.1rem; margin-left: 0.2rem; }

.suspend { position: fixed; right: 0.4rem; bottom: 3rem; z-index: 10; }

.suspend a { display: block; width: 2.54rem; margin-top: 0.8rem; }

.suspend a:first-child { background-image: url(../images/m-icon1.png?v=34194); background-size: 2.54rem 2.78rem; height: 2.78rem; }

.suspend a:last-child { background-image: url(../images/m-icon2.png?v=1093b); background-size: 2.54rem 2.12rem; height: 2.12rem; }

.swiper-container-horizontal > .swiper-pagination { bottom: 0.3rem; padding-right: 1rem; text-align:right;}



@keyframes myfirst { 0% { -webkit-transform: scale(1); transform: scale(1); }
  100% { -webkit-transform: scale(0.7); transform: scale(0.7); } }

@-webkit-keyframes myfirst { 0% { -webkit-transform: scale(1); }
  100% { -webkit-transform: scale(0.7); } }

.myfirst { animation: myfirst 0.7s linear infinite alternate; -webkit-animation: myfirst 0.7s linear infinite alternate; -moz-animation: myfirst 0.7s linear infinite alternate; }

.rank1 .count.act { background-image: url(../images/m-ban7-1.png?v=80bca); }

.rank1 .count i { display: none; }

.rank1 .count.act i { color: #e30116; position: absolute; display: inline-block; top: -0.2rem; left: -0.5rem; z-index: 10; opacity: 0; animation: anmation 0.4s linear; -webkit-animation: anmation 0.4s linear; -moz-animation: anmation 0.4s linear; }

@keyframes anmation { 0% { top: -0.3rem;
    opacity: 1; }
  100% { top: -1.8rem;
    opacity: 0; } }

@-webkit-keyframes anmation { 0% { top: -0.3rem;
    opacity: 1; }
  100% { top: -1.8rem;
    opacity: 0; } }

/* 文章*/  
.media-list { width: 100%; height: auto; padding: 0 0.4rem; }

.media-list li { width: 100%; padding: 0.4rem 0; border-bottom: solid 1px #eee; height: auto; overflow: hidden;position:relative; }

.media-list li i{display:inline-block;position: absolute;z-index: 5; width: 1.24rem; height: 1.24rem; left: 1.5rem; top: 50%; margin-top: -0.62rem; background-image: url(../images/m-video.png?v=1924d); background-size: 1.24rem 1.24rem;}

.media-list img { float: left; width: 4rem; height: 3rem; margin-top:0;}

.media-list .cont { float: left; width: 9.8rem; margin-left: 0.4rem; }

.media-list .title {width: 100%;font-size: 0.6rem;color: #222;line-height: 1rem;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;text-align: left;}

.media-list .text { width: 100%; line-height: 0.7rem; height: 1.4rem; overflow: hidden; color: #999; padding-top: -0.9rem; }

.media-list .con { width: 100%; height: auto; color: #999; margin-top: 0.4rem; }

.media-list .con p { background-repeat: no-repeat; height: 0.52rem; line-height: 0.52rem; background-position: left center; text-indent: 0.8rem; }

.media-list .l { background-image: url(../images/m-media1.png?v=e3f8a); background-size: 0.54rem 0.52rem; }

.media-list .icon1 { background-image: url(../images/m-media3.png?v=cdb5a); background-size: 0.6rem 0.4rem; margin-left: 0.4rem; }

.media-list p.icon2 { background-image: url(../images/m-media2.png?v=d6a61); text-indent: 0.56rem; background-size: 0.38rem 0.4rem; }
    

.media-list .l-title { width: 100%; font-size: 0.6rem; color: #222; line-height: 0.8rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

.media-list .l-text { width: 100%; line-height: 0.7rem; height: 1.6rem; overflow: hidden; color: #999; padding-top: 0.2rem; }

.media-list .l-con { width: 100%; height: auto; color: #999; margin-top: 0.1rem; }

.media-list .l-con p { background-repeat: no-repeat; height: 0.52rem; line-height: 0.52rem; background-position: left center; text-indent: 0.8rem; }

.media-list .icon1 { background-image: url(../images/m-media3.png?v=cdb5a); background-size: 0.6rem 0.4rem; margin-left: 0.4rem; }

.media-list p.icon2 { background-image: url(../images/m-media2.png?v=d6a61); text-indent: 0.56rem; background-size: 0.38rem 0.4rem; }
