html { font-size: 50px; }

body { font-size: 24px; }

@media screen and (min-width: 320px) { html { font-size: 21.33px; }
  body { font-size: 12px; } }

@media screen and (min-width: 360px) { html { font-size: 24px; }
  body { font-size: 12px; } }

@media screen and (min-width: 375px) { html { font-size: 25px; }
  body { font-size: 12px; } }

@media screen and (min-width: 384px) { html { font-size: 25.6px; }
  body { font-size: 14px; } }

@media screen and (min-width: 400px) { html { font-size: 26.67px; }
  body { font-size: 14px; } }

@media screen and (min-width: 414px) { html { font-size: 27.6px; }
  body { font-size: 14px; } }

@media screen and (min-width: 424px) { html { font-size: 28.27px; }
  body { font-size: 14px; } }

@media screen and (min-width: 480px) { html { font-size: 32px; }
  body { font-size: 15.36px; } }

@media screen and (min-width: 540px) { html { font-size: 36px; }
  body { font-size: 17.28px; } }

@media screen and (min-width: 720px) { html { font-size: 48px; }
  body { font-size: 23.04px; } }

@media screen and (min-width: 750px) { html { font-size: 50px; }
  body { font-size: 24px; } }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, section, article, aside, header, footer, nav, dialog, figure, hgroup { margin: 0; padding: 0; }

input, select, textarea { font-size: 100%; }

table { border-collapse: collapse; border-spacing: 0; }

fieldset, img { border: 0; }

caption, th { text-align: left; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 500; }

ul, ol, li { list-style: none; }

em, i { font-style: normal; }

a, img { -webkit-tap-highlight-color: transparent; }

.wap-banner { position: relative; height: 6rem; overflow-x: hidden; background: #fff; }

.swiper-slide { position: relative; background: #fff; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; }

.swiper-slide img { width: 100%; height: 100%; }

.swiper-slide .tip { position: absolute; width: 1.6rem; height: 3.2rem; background-color: rgba(255, 100, 153, 0.6); top: 0; left: 0.7rem; padding: 0.5rem 0.1rem 0 0.1rem; }

.swiper-slide .tip p { color: #fff; float: left; width: 50%; text-align: center; margin-bottom: 0.3rem; }

.swiper-slide .tip span { display: block; width: 1rem; height: 1px; background: #fff; clear: both; margin: 0 auto; }

.swiper-slide .info { position: absolute; top: 0.5rem; right: 0.5rem; width: 2rem; height: 4.6rem; border: solid 1px #ff6499; padding: 0.1rem; }

.swiper-slide .info .cont { width: 100%; height: 100%; background: #ff6499; padding: 0.1rem; color: #fff; text-align: center; }

.swiper-slide .info p { float: left; width: 50%; margin-bottom: 0.5rem; }

.swiper-slide .info span { border-top: solid 1px #fff; }

.chose-nav { width: 100%; height: auto; overflow: hidden; margin: 0.2rem 0; }

.chose-nav li { float: left; margin: 0.4rem 0 0 0.4rem; }

.chose-nav li a { width: 3.22rem; height: 1rem; text-align: center; line-height: 1rem; border-radius: 0.16rem; color: #fff; display: block; }

.chose-nav li:nth-child(1) a { background: #8c97cb; }

.chose-nav li:nth-child(2) a { background: #8f82bc; }

.chose-nav li:nth-child(3) a { background: #aa89bd; }

.chose-nav li:nth-child(4) a { background: #c490bf; }

.chose-nav li:nth-child(5) a { background: #f19ec2; }

.chose-nav li:nth-child(6) a { background: #f29c9f; }

.chose-nav li:nth-child(7) a { background: #ec6941; }

.chose-nav li:nth-child(8) a { background: #f19149; }

.media-list { width: 100%; height: auto; padding: 0.4rem; }

.media-list li { width: 100%; margin-bottom: 0.4rem; background: #fff; border: solid 1px #d9d9d9; padding: 0.3rem; height: auto; overflow: hidden; }

.media-list img { float: left; width: 4rem; height: 3.6rem; }

.media-list .info { width: 9.2rem; float: right; }

.media-list .title { font-size: 0.6rem; color: #333; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; line-height: 1rem; }

.media-list .text { width: 100%; color: #999; line-height: 0.8rem; height: 1.6rem; overflow: hidden; }

.media-list .bot { width: 100%; font-size: 0.4rem; color: #999; margin-top: 0.4rem; }

.media-list .more { display: block; width: 100%; margin-top: 0.4rem; margin-bottom: 1.6rem; height: 1.2rem; text-align: center; line-height: 1.2rem; color: #fff; font-size: 0.6rem; background: #ffb700; border-radius: 0.1rem; }

.detail-cont { width: 100%; height: auto; overflow: hidden; padding: 0.6rem; margin-bottom: 2rem; }

.detail-cont .head { font-size: 0.72rem; color: #333; line-height: 1.2rem; font-weight: bold; }

.detail-cont .info { width: 100%; height: 0.5rem; line-height: 0.5rem; color: #999; margin-top: 0.6rem; }

.detail-cont img { width: 100%; margin-top: 0.8rem; }

.detail-cont .text { font-size: 0.6rem; color: #666; line-height: 1.1rem; text-indent: 2em; }

.detail-cont .text.title { text-indent: 0; margin-top: 0.8rem; }

.detail-cont .all { display: block; width: 2.9rem; height: 0.9rem; margin: 0 auto; margin-top: 0.8rem; border: solid 1px #b6b6b6; text-align: center; line-height: 0.8rem; border-radius: 0.16rem; color: #999; }

.detail-cont .line { width: 100%; height: 1px; background: #ccc; margin-top: 2.4rem; }

.detail-cont .laud { display: block; width: 1.96rem; height: 1.96rem; margin: 0 auto; margin-top: -0.98rem; background-image: url(../images/m-laud.png?v=4dfc8); background-size: 1.96rem 1.96rem; }

.detail-cont .share { width: 100%; margin-top: 1.6rem; color: #666; height: 0.84rem; }

.detail-cont .share i { float: left; display: inline-block; width: 10px; height: 10px; background-image: url(../images/icon.png?v=77231); background-position: -29px -32px; margin-top: 0.2rem; }

.detail-cont .share span { float: left; line-height: 0.84rem; margin-left: 0.3rem; margin-right: 0.4rem; }

.detail-cont .share a { display: block; float: left; width: 0.84rem; height: 0.84rem; background-size: 0.84rem 0.84rem; margin-right: 0.5rem; }

.detail-cont .share .qq { background-image: url(../images/m-qq.png?v=ac46f); }

.detail-cont .share .weix { background-image: url(../images/m-weix.png?v=c0200); }

.detail-cont .share .weibo { background-image: url(../images/m-weibo.png?v=58167); }

.content{line-height: 0.8rem;color: #666; font-size:0.6rem}