html { font-size: 50px; }

body { font-size: 24px; }

@media screen and (min-width: 320px) { html { font-size: 21.33px; }
  body { font-size: 12px; } }

@media screen and (min-width: 360px) { html { font-size: 24px; }
  body { font-size: 12px; } }

@media screen and (min-width: 375px) { html { font-size: 25px; }
  body { font-size: 12px; } }

@media screen and (min-width: 384px) { html { font-size: 25.6px; }
  body { font-size: 14px; } }

@media screen and (min-width: 400px) { html { font-size: 26.67px; }
  body { font-size: 14px; } }

@media screen and (min-width: 414px) { html { font-size: 27.6px; }
  body { font-size: 14px; } }

@media screen and (min-width: 424px) { html { font-size: 28.27px; }
  body { font-size: 14px; } }

@media screen and (min-width: 480px) { html { font-size: 32px; }
  body { font-size: 15.36px; } }

@media screen and (min-width: 540px) { html { font-size: 36px; }
  body { font-size: 17.28px; } }

@media screen and (min-width: 720px) { html { font-size: 48px; }
  body { font-size: 23.04px; } }

@media screen and (min-width: 750px) { html { font-size: 50px; }
  body { font-size: 24px; } }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, section, article, aside, header, footer, nav, dialog, figure, hgroup { margin: 0; padding: 0; }

input, select, textarea { font-size: 100%; }

table { border-collapse: collapse; border-spacing: 0; }

fieldset, img { border: 0; }

caption, th { text-align: left; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 500; }

ul, ol, li { list-style: none; }

em, i { font-style: normal; }

a, img { -webkit-tap-highlight-color: transparent; }

@font-face { font-family: 'helvetica'; src: url(../fonts/HelveticaNeueLTPro-UltLtEx.otf?v=e400b) format("truetype"); }

* { outline: 0; -webkit-tap-highlight-color: transparent; -webkit-box-sizing: border-box; font-family: "Microsoft Yahei"; line-height: 1; font-size: 0.48rem; }

html { min-width: 6.4rem; height: 100%; }

body { margin: 0 auto; min-width: 6.4rem; max-width: 15rem; box-sizing: border-box; line-height: 1; overflow-x: hidden; background: #fff; }

body.grey { background: #eee; }

a { text-decoration: none; }

input { font-family: "Microsoft Yahei"; font-size: 0.6rem; color: #aaa; border: none; }

.l { float: left; }

.r { float: right; }

.scroller { overflow: hidden; position: relative; }

.mainContainer { overflow: hidden; width: 100%; height: auto; min-height: 26rem; }

.outerWrap, .innerWrap { position: relative; }

.outerWrap { overflow: hidden; box-sizing: border-box; width: 100%; }

.innerWrap { z-index: 1; left: 0; -webkit-transition: all .5s; transition: all .5s; }

.mainfix { overflow-y: scroll; width: 15rem; overflow: hidden; margin: 0 auto; position: relative; height: auto; padding-bottom: 2rem; }

.page-bg { position: fixed; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(0, 0, 0, 0.6); z-index: 100; display: none; }

.page-bg.act { display: block; }

.wap-banner { position: relative; height: 8.58rem; overflow-x: hidden; }

.swiper-slide { text-align: center; font-size: 0.24rem; background: #fff; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; }

.swiper-slide img { width: 100%; height: 100%; }

.video-cont { width: 100%; height: 7.7rem; position: relative; overflow: hidden; }

.video-cont img { width: 100%; height: 7.7rem; position: absolute; top: 0; left: 0; z-index: 0; }

.video-cont img.act { z-index: 5; }

.video-cont i { position: absolute; z-index: 5; width: 1.24rem; height: 1.24rem; left: 50%; top: 50%; margin: -0.62rem 0 0 -0.62rem; display: none; background-image: url(../images/m-video.png?v=1924d); background-size: 1.24rem 1.24rem; }

.video-cont i.act { display: inline-block; }

.video-cont .baner-title { position: absolute; z-index: 6; bottom: 0; left: 0; width: 100%; height: 1.82rem; background-image: url(../images/ban-bg.png?v=268fb); text-align: center; }

.video-cont .baner-title img { width: 12.66rem; height: 1.06rem; margin-top: 0.38rem; position: relative; }

.search { position: relative; width: 100%; height: 1.4rem; background-image: url(../images/m-search.jpg?v=2b350); background-size: cover; padding: 0.2rem 0.4rem; }

.search input { width: 100%; height: 1rem; line-height: 1rem; border-radius: 0.2rem; padding: 0 0.2rem; box-shadow: 0 0 3px 2px #ddd inset; }

.search p { width: 3.4rem; height: 100%; position: absolute; top: 0; left: 50%; margin-left: -1.7rem; display: none; line-height: 1.4rem; color: #aca9a9; background-image: url(../images/m-search.png?v=04257); background-size: 0.5rem 0.5rem; background-position: 2.8rem center; background-repeat: no-repeat; }

.search p.act { display: block; }

.more { display: block; width: 14.2rem; height: 1rem; margin: 0.8rem auto; background-color: #ececec; border-radius: 0.16rem; text-align: center; line-height: 1rem; color: #a1a1a1; margin-bottom: 1.6rem; }

.more:hover { background-color: #c6c6c6; }

.footer { width: 100%; height: 1.96rem; text-align: center; position: fixed; bottom: 0; left: 0; background-color: #fff; box-shadow: 0 0 10px 3px #eee; }

.footer .menu { width: 100%; height: 100%; }

.footer li { float: left; width: 25%; }

.footer li a { display: block; color: #666; width: 100%; background-repeat: no-repeat; background-position: center 0.3rem; padding-top: 1.3rem; }

.footer li a.act, .footer li a:hover { color: #ffb700; }

.footer li:first-child a { background-image: url(../images/m-menu1.png?v=3316d); background-size: 0.8rem 0.74rem; }

.footer li:nth-child(2) a { background-image: url(../images/m-menu2.png?v=06ed4); background-size: 0.76rem 0.76rem; }

.footer li:nth-child(3) a { background-image: url(../images/m-menu3.png?v=292a6); background-size: 0.68rem 0.76rem; }

.footer li:nth-child(4) a { background-image: url(../images/m-menu4.png?v=f7af2); background-size: 0.86rem 0.64rem; }

.footer li:first-child a:hover, .footer li:first-child a.act { background-image: url(../images/m-menu1-1.png?v=f51f1); }

.footer li:nth-child(2) a:hover, .footer li:nth-child(2) a.act { background-image: url(../images/m-menu2-1.png?v=96dd2); }

.footer li:nth-child(3) a:hover, .footer li:nth-child(3) a.act { background-image: url(../images/m-menu3-1.png?v=bc044); }

.footer li:nth-child(4) a:hover, .footer li:nth-child(4) a.act { background-image: url(../images/m-menu4-1.png?v=33f26); }

.footer .more-menu { position: absolute; bottom: 2.6rem; right: -4rem; background-color: #fff; border-radius: 0.16rem; width: 3.4rem; box-shadow: 0 0 6px 2px #aaa; -webkit-transition: all .8s ease-in; transition: all .8s; }

.footer .more-menu.act { right: 0.4rem; }

.footer .more-menu a { display: block; width: 100%; height: 1.2rem; border-bottom: solid 1px #eee; line-height: 1.2rem; color: #666; text-align: left; text-indent: 1.3rem; background-repeat: no-repeat; background-position: 0.4rem center; }

.footer .more-menu a:first-child { position: absolute; bottom: -0.28rem; left: 1.5rem; border-bottom: none; width: 0; height: 0; border-left: 0.3rem solid transparent; border-right: 0.3rem solid transparent; border-top: 0.3rem solid #fff; }

.footer .more-menu a:nth-child(2) { background-image: url(../images/m-menu5.png?v=c623e); background-size: 0.54rem 0.56rem; }

.footer .more-menu a:last-child { background-image: url(../images/m-menu6.png?v=a3734); background-size: 0.6rem 0.56rem; border-bottom: none; }

.footer .more-menu a:hover { color: #ffb700; }

.footer .more-menu a:nth-child(2):hover { background-image: url(../images/m-menu5-1.png?v=93ac5); }

.footer .more-menu a:last-child:hover { background-image: url(../images/m-menu6-1.png?v=4fac9); }

.bless-title { display: inline-block; background-image: url(../images/m-blessicon.png?v=2e310); background-size: 0.52rem 0.48rem; background-repeat: no-repeat; font-size: 0.56rem; color: #747474; text-indent: 0.7rem; }

.bless-lists { width: 100%; height: auto; overflow: hidden; padding: 0 1rem; margin: 0.6rem 0; }

.bless-lists li { width: 100%; height: auto; overflow: hidden; }

.bless-lists img { width: 1.68rem; height: 1.68rem; border-radius: 50%; border: solid 0.06rem #ffb700; float: left; }

.bless-lists p { float: left; margin-left: 0.2rem; width: 11rem; font-size: 0.52rem; line-height: 0.8rem; color: #747474; text-align: left; padding-top: 0.4rem; }

.bless-lists span { font-size: 0.64rem; color: #f20000; }

/*bless*/
.bless { background-color: #f7f7f7; }

.bless .baner { width: 100%; }

.bless .baner img { width: 100%; }

.bless .bless-cont { width: 100%; height: auto; overflow: hidden; padding: 0 0.8rem; margin-bottom: 1rem; text-align: center; }

.bless .bless-list { width: 100%; height: auto; overflow: hidden; margin-top: 0.6rem; }

.bless .bless-list li { float: left; position: relative; width: 4.06rem; height: 1.76rem; border-radius: 0.2rem; text-align: center; line-height: 1.76rem; color: #fff; margin: 0 0.6rem 0.6rem 0; }

.bless .bless-list li:nth-child(3n) { margin-right: 0; }

.bless .bless-list li:nth-child(1) { background-color: #8f82bc; }

.bless .bless-list li:nth-child(2) { background-color: #aa89bd; }

.bless .bless-list li:nth-child(3) { background-color: #c490bf; }

.bless .bless-list li:nth-child(4) { background-color: #f19ec2; }

.bless .bless-list li:nth-child(5) { background-color: #f29c9f; }

.bless .bless-list li:nth-child(6) { background-color: #ec6941; }

.bless .bless-list li:nth-child(7) { background-color: #f19149; }

.bless .bless-list li:nth-child(8) { background-color: #f8b551; }

.bless .bless-list li:nth-child(9) { background-color: #eb6877; }

.bless .bless-list li.act { background-color: #aaa; text-indent: 1rem; text-align: left; }

.bless .bless-list li.act i { display: inline-block; position: absolute; width: 0.56rem; height: 0.56rem; right: 0.3rem; bottom: 0.56rem; background-image: url(../images/m-chose.png?v=70dd9); background-size: 0.56rem 0.56rem; }

.bless textarea { width: 100%; height: 7.2rem; margin-top: 0.6rem; border: solid 1px #c6c6c6; border-radius: 0.2rem; background-color: #efefef; line-height: 0.9rem; color: #444; font-size: 0.6rem; padding: 0.3rem 0.6rem; }

.bless .submit { display: block; width: 100%; height: 2rem; margin-top: 0.5rem; text-align: center; line-height: 2rem; color: #fff; font-size: 0.72rem; border-radius: 0.3rem; background-color: #ffb700; }

.bless .submit:hover { background-color: #e5a400; }

.bless .popup-message { position: fixed; z-index: 110; padding-top: 1.4rem; text-align: center; width: 12.8rem; height: 7.5rem; background-color: #fff; top: -100%; left: 50%; margin: -3rem 0 0 -6.4rem; box-shadow: 0 0 10px 4px #333; border-radius: 0.16rem; -webkit-transition: all .8s ease-in; transition: all .8s; }

.bless .popup-message.act { top: 50%; }

.bless .close { position: absolute; top: 0.5rem; right: 0.5rem; width: 0.4rem; height: 0.4rem; background-image: url(../images/m-close.png?v=fa965); background-size: 0.4rem 0.4rem; }

.bless .popup-message img { width: 1.92rem; }

.bless .text { font-size: 0.72rem; color: #4e4e4e; padding-top: 0.5rem; }

.bless .popup-message a { width: 2.9rem; height: 1.2rem; line-height: 1.2rem; border-radius: 0.2rem; display: block; margin: 0 auto; margin-top: 1rem; background-color: #ffb700; color: #fff; }

.bless .bless-title { margin-top: 1rem; }

.bless .bless-lists { padding: 0; }

.bless .bless-lists i { display: inline-block; width: 100%; line-height: 0.7rem; text-align: left; padding-left: 2rem; color: #999; }

.bless .info-cont { width: 100%; margin-top: 1rem; }

.bless .img-cont { float: left; width: 2.3rem; height: 2.78rem; background-image: url(../images/img-bg.png?v=293b9); background-size: 2.3rem 2.78rem; padding: 0.1rem; }

.bless .img-cont img { width: 100%; height: 2.1rem; border-radius: 50%; }

.bless .cont { float: left; margin-left: 0.4rem; margin-top: 0.2rem; position: relative; width: 10.6rem; }

.bless .name { font-size: 0.72rem; color: #444; text-align: left; line-height: 1.42rem; }

.bless .cont-text { font-size: 0.52rem; color: #8e8e8e; margin-top: 0.3rem; text-align: left; }

.bless .now-name { font-size: 0.72rem; color: #444; position: absolute; left: 2.2rem; top: 0; line-height: 0.96rem; display: none; width: 8.4rem; text-align: left; }

.bless .now-name.act { display: block; }

.bless .to-edit { display: inline-block; margin-left: 0.6rem; width: 0.96rem; height: 0.96rem; background-image: url(../images/m-deit.png?v=42a62); background-size: 0.96rem 0.96rem; }

.bless .edit-cont { position: absolute; left: 2.2rem; top: 0; width: 8.4rem; display: none; }

.bless .edit-cont.act { display: block; }

.bless input { float: left; width: 6.2rem; height: 1.36rem; line-height: 1.36rem; border: solid 1px #c1c1c1; background-color: #efefef; border-radius: 0.16rem; text-indent: 0.2rem; }

.bless .but { float: left; margin-left: 0.2rem; color: #fff; padding: 0.26rem 0.3rem; background-color: #ffb700; font-size: 0.6rem; margin-top: 0.1rem; border-radius: 0.16rem; }
