/***** 后台登录页 *****/
.login-body {background-color:#1c77ac; background-image:url(../images/light.png); background-repeat:no-repeat; background-position:center top; overflow:hidden;}

/*****顶部内容****/
.top-body {background:url(../images/topbg.gif) repeat-x;}

/******预览图******/
.preview-img {width: 160px; height: 140px; vertical-align: bottom;}

/***详情页****/
.detail-info{}
.detail-info tr td{border: 1px solid #ccc; height:40px; font-size:14px; padding-left: 20px;}
.detail-info tr th{border: 1px solid #ccc; height:40px; font-size:14px; padding-left: 20px;}
.detail-info .info-item{width:200px; text-align: center; padding-left: 0; background-color: whitesmoke;}
.detail-info .info-title{text-align: center; font-size: 20px; font-weight: bold; padding-left: 0;}
.detail-info img{width:1024px; height:auto}
.detail-info .info-item-img img{width:500px;}

/***echarts 2****/
.echart-count{float:left;width: 500px;height: 350px;}
.echartplace{height:40px;}
.echartplace ul li{float:left; line-height:40px; padding-left:7px; padding-right:12px; background:url(../images/rlist.gif) no-repeat right;}
.echartplace ul li:last-child{background:none;}
/**进度spin背景**/
#back_bg{
	position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../images/opacity.png?v=7e766);
    z-index: 110;
	display:none;
}