* { margin: 0; padding: 0; font-size: 16px; }

html, body{ min-height: 100%; width: 100%; font-family: "Microsoft Yahei";  height: auto; background: #fff; }

.page-main input, .page-main textarea { outline: none; border: none; font-family: "Microsoft Yahei"; }

.page-main a { color: #424242; text-decoration: none; text-decoration: none; }

.page-main ul, .page-main ol, .page-main li { list-style-type: none; }

img { border: none; }

.page-main p { -webkit-margin-before: 0; -webkit-margin-after: 0; }

.bg{width:936px;-webkit-box-shadow:0px 0px 10px #333;-moz-box-shadow:0px 0px 10px #333;box-shadow:0px 0px 10px #333; margin: 10px auto;background: #F4F4F4;padding: 27px;}

.page-main { width: 900px;background: #FFFFFF;padding: 20px; border:1px solid #DCDCDC }
.page-main .title { text-align: center; font-size: 22px; }

.page-main .text { text-indent: 2em;   margin-top: 15px; }

.page-main input[type="text"] { height: 24px; line-height: 24px; text-indent: 10px; border-bottom: solid 1px #333; }

.page-main .type1 { width: 50px; }

.page-main .type2 { width: 100px; }

.page-main .padleft { padding-left: 500px; }

.page-main .padleft1 { padding-left: 300px; }

.page-main .padleft2 { padding-left: 400px; }

.page-main .clear { width: 100%; height: 80px; }

.page-main .text1 { text-indent: 0; }

.page-main .cont { width: 100%; height: auto; overflow: hidden; line-height: 30px;  margin-top: 30px; }

.page-main .cont1 { width: 500px; text-indent: 2em; float: left; }

/*.page-main .cont2 { float: left; text-indent: 2em; }*/

.page-main .head { text-align: center; font-size: 46px; font-weight: bold; margin-bottom:35px; }

.yuding{line-height: 40px;}

span{text-decoration: underline;}

.page-main .jia,.yi{line-height:30px}

.page-main .pact-text span { text-decoration: underline; }

.page-main .text-indent { width:100%;background: #F4F4F4; height:135px; margin-top: 10px; padding: 20px 0px;font-size: 16px;}

.dic{line-height: 60px;font-weight: 900;}

.form{margin-top:10px;width:96%;padding: 15px; background: #F4F4F4;}

.form h6{width:100%;line-height: 20px; }


.form1{width:100%;margin: 10px auto;}

.form1 ul{display: block;overflow: hidden;padding-left: 20px; }

.form1 ul li{width:20%;height:40px;float: left;text-align: left;}

.form1 p{float: left;width: 25%;line-height: 20px;}

.form2 ul{overflow: hidden;}

.form2 ul li{width:20%;float:left;height: 40px;line-height: 40px;text-align: center;}

.req ul{overflow: hidden;}

.req ul li{float:left}

.fix ul li{width: 50%;}

.fix i{font-size: 12px;font-style:normal;color:#B7B7B7;font-weight: 100;}

.mif ul li{width:30%}

.card{ width: 350px; heigth:200px; float: left; margin-left: 30px; }

.card img{width: 100%; heigth:100%; }

.res p{line-height: 30px;}

.tex {margin:20px auto;}
.tex textarea{width:97%;height:100px;font-size: 18px;padding: 10px;border: 1px solid #E4E4E4;margin:20px auto;}

.text3{padding:10px;padding-left: 25px;}

.text3 ul li{list-style:none;line-height: 30px;list-style-position: outside;font-size: 14px;}

.text3 ul  .red{color:#f00}

table{margin-top: 20px;border:1px solid #DDDBDC;background: #F4F4F4; text-align: center;width: 100%;display: block;}

table .left{text-align: left;}

table tr,td{border:1px solid #DDDBDC;     line-height: 35px;}

table tr .center{width: 50px;text-align: left;padding-left: 80px;}

#bill{padding-left: 30px;height: 100px;text-align: left; line-height: 30px; background: #FFFFFF;margin: 30px 0px;}

#bill .red{color:#f00};

.gZ{width:100%;position: relative;}

.gZ ul{width:100% ;margin-bottom: 30px;}

.gZ ul li{float: left;width:50%;line-height: 30px;position: relative;}

.gZ ul li i{position: relative;}

.gZ ul li .sign{width:182px;height:100px;border: 1px dashed #DCDCDC; position: absolute;top:-54px;left: 90px;}

.gZ ul li .sign img{width: 100%; height: 100%;}



.gZ .img{position: absolute;top:-50px;right:-60px;width:130px;height:130px;}

.h4{font-size: 26px;}
/*.gZ img{display:block;position: absolute;}*/
.tb2{border: 1px solid #ddd;margin-top: 30px;}

.tb2 ul{overflow: hidden;text-align: center;}

.tb2 ul li{width:100%;overflow: hidden;border: 1px solid #ddd;height: 40px;line-height: 40px;}

.tb2 ul li p{width:49.5%;float: left;text-align: center;}

.tb2 ul li p:nth-child(1){border-right: 1px solid #ddd;}

/**进度spin背景**/
#back_bg{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../images/opacity.png?v=7e766);
    z-index: 110;
    display:none;
}

.form-coupon{width:100%;margin: 10px auto;}

.form-coupon ul{display: block;overflow: hidden;padding-left: 20px; }

.form-coupon ul li{width:100%;height:40px;float: left;text-align: left; -webkit-transition: opacity 1s ease-in-out;}

.form-coupon ul li span{float: left; text-decoration: none;padding-right: 10px;}

.form-coupon ul li .underline{min-width: 150px; text-decoration: underline; float: right;}

.form-coupon ul li .add{
	display: block;
    float: left;
    width: 40px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
    background-image: url(../images/add.png);
    padding: 0px 10px;
    cursor:pointer;
}

.form-coupon ul li .del{
    display: block;
    float: left;
    width: 40px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    background-image: url(../images/del.png);
    padding: 0px 10px;
    cursor:pointer;
}

.form-coupon ul li input[type="text"]{background-color: #F4F4F4; }
